$primary: #ff8a00;
$secondary: #243763;
$secondary-light: #a6b9e5;
$black: #000000;
$black-1: #141622;
$black-secondary: #232b3d;
$white: #fff;
$white-1: #eaeaea;
$gray: #d9d9d9;
$gray-2: #616161;

$font-primary: "Prompt", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-dm-sans: "DM Sans", $font-secondary;

$font-lato: 'Lato', sans-serif;