/// section footer
.footer {
  padding: 80px 0 70px 0;
  background: $black-secondary;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &-info {
      width: 320px;

      .logo {
        font-size: 18px;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        li {
          font-size: 18px;
          color: $white;
        }
        a {
          color: inherit;
          font-family: $secondary;
          font-style: normal;
          font-weight: 400;
          font-size: inherit;
          line-height: 1.2;
          transition: 0.2s ease-out;

          &[href^="tel:"] {
            font-family: $font-primary;
            font-weight: 300;
          }
          &:hover {
            opacity: 0.8;
            text-decoration: underline;
          }
        }
      }
    }
    &-links {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 700px);
      max-width: 360px;

      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        color: $white;

        a {
          position: relative;
          color: inherit;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 0.6em;
          transition: 0.2s ease-out;

          &:after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 20%;
            height: 1px;
            opacity: 0;
            background: currentColor;
            transition: 0.2s ease-out;
          }

          &:hover {
            opacity: 0.8;
            &:after {
              opacity: 1;
              width: 100%;
            }
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    &-mailing {
      display: flex;
      flex-direction: column;
      width: 320px;

      .input {
        margin-bottom: 20px;
      }
      .button {
        align-self: flex-start;
      }
    }
    &-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      max-width: 860px;

      h4 {
        width: 100%;
      }

      &-group {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;

        label {
          color: $white;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 1.4;
        }

        &._bottom {
          flex: 0.8 0 0;
          justify-content: flex-end;
        }
      }
      .input {
        flex-grow: 1;
        width: unset;
        font-size: 16px;
      }
    }

    h4 {
      color: $white;
      line-height: 1.2;
      text-transform: capitalize;
      margin-bottom: 0.85em;
    }
  }
}

@mixin footer-1160 {
  .footer {
    &__inner {
      gap: 50px;

      &-mailing {
        width: 40%;
      }
      &-links {
        width: 100%;
        max-width: 450px;
        order: 1;
      }
      &-form {
        order: 1;
      }
    }
  }
}
@mixin footer-940 {
  .footer {
    padding: 60px 0;

    &__inner {
      gap: 30px;
      flex-direction: column;
      max-width: 600px;
      margin: 0 auto;
      &-info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-list {
          margin: 0;
        }
      }
      &-mailing {
        width: 100%;
      }
      &-links {
        width: 100%;
        max-width: unset;
        order: 1;
        padding-top: 30px;
      }
      &-form {
        order: 1;
        border-top: 1px solid rgba($secondary-light, 0.4);
        padding-top: 30px;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background: rgba($white, 0.1);
      }
    }
  }
}

@mixin footer-768 {
  .footer {
    &__inner {
      &-info {
        .logo {
          font-size: 16px;
        }
        &-list {
          gap: 8px;

          li {
            font-size: 16px;
          }
        }
      }
      &-links {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@mixin footer-460 {
  .footer {
    &__inner {
      &-info {
        .logo {
          font-size: 14px;
        }
        &-list {
          gap: 5px;
          li {
            font-size: 15px;
          }
        }
      }
      &-links {
        a {
          font-size: 14px;
        }
      }
      &-form {
        padding: 30px 15px;

        &-group {
          label {
            font-size: 14px;
          }
        }
      }
      .input {
        font-size: 16px;
      }
      .button {
        font-size: 16px;
      }
    }
  }
}
