/// section footer
.footer {
  padding: 80px 0 30px 0;
  background: $black-secondary;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px 30px;

    &-info {
      width: 320px;

      .logo {
        font-size: 18px;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

        li {
          font-size: 18px;
          color: $white;
        }
        a {
          color: inherit;
          font-family: $secondary;
          font-style: normal;
          font-weight: 400;
          font-size: inherit;
          line-height: 1.2;
          transition: 0.2s ease-out;

          &[href^="tel:"] {
            font-family: $font-primary;
            font-weight: 300;
          }
          &:hover {
            opacity: 0.8;
            text-decoration: underline;
          }
        }
      }
    }
    &-links {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 700px);
      max-width: 360px;

      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        color: $white;

        a {
          position: relative;
          color: inherit;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 0.6em;
          transition: 0.2s ease-out;
          text-transform: capitalize;

          &:after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 20%;
            height: 1px;
            opacity: 0;
            background: currentColor;
            transition: 0.2s ease-out;
          }

          &:hover {
            opacity: 0.8;
            &:after {
              opacity: 1;
              width: 100%;
            }
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 320px;

      h4 {
        width: 100%;
      }
      form {
        width: 100%;
      }
      &-column {
        display: flex;
        flex-direction: column;
        gap: 25px;

        label {
          color: $white;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 1.4;
        }

        &._bottom {
          flex: 0.8 0 0;
          justify-content: flex-end;
        }
      }
      .input {
        width: 100%;
        font-size: 16px;
      }
    }

    h4 {
      color: $white;
      line-height: 1.2;
      text-transform: capitalize;
      margin-bottom: 0.85em;
    }
  }
  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    color: $white;
    text-align: center;
    font-size: 14px;

    p {
      font-size: inherit;
    }
    span {
      text-transform: uppercase;
    }

    a {
      display: inline-flex;
      font-size: inherit;
      margin-left: 0.5em;
      transition: 0.2s ease-out;
      img {
        height: 1.2em;
        width: auto;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@mixin footer-1280 {
  .footer {
    &__inner {
      &-info {
        width: 280px;
      }
      &-links {
        width: calc(100% - 640px);
      }
    }
  }
}
@mixin footer-1160 {
  .footer {
    &__inner {
      gap: 50px;

      &-mailing {
        width: 40%;
      }
      &-links {
        justify-content: space-around;
        width: 100%;
        max-width: 550px;
      }
      &-form {
        width: 100%;
        border-top: 1px solid rgba($secondary-light, 0.2);
        padding-top: 30px;

        &-column {
          max-width: 450px;
        }
      }
    }
  }
}
@mixin footer-940 {
  .footer {
    padding: 60px 0 30px 0;

    &__inner {
      gap: 30px;
      max-width: 800px;
      margin: 0 auto;
      &-info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-list {
          margin: 0;
        }
      }
      &-mailing {
        width: 100%;
      }
      &-links {
        width: 100%;
        justify-content: flex-start;
        gap: 60px;
        order: 1;
        max-width: 360px;
        padding-top: 30px;
      }
      &-form {
        width: calc(100% - 400px);
        border-top: 1px solid rgba($secondary-light, 0.4);
        padding-top: 30px;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        background: rgba($white, 0.1);
      }
    }
    &__copyright {
      margin-top: 100px;
    }
  }
}
@mixin footer-768 {
  .footer {
    &__inner {
      flex-direction: column;
      max-width: 600px;

      &-info {
        .logo {
          font-size: 16px;
        }
        &-list {
          gap: 8px;

          li {
            font-size: 16px;
          }
        }
      }
      &-form {
        width: 100%;
        padding: 30px 60px;
        &-column {
          width: 100%;
          max-width: unset;
        }
      }
      &-links {
        order: unset;
        width: 100%;
        justify-content: space-between;
        a {
          font-size: 16px;
        }
      }
    }
    &__copyright {
      margin-top: 80px;
    }
  }
}
@mixin footer-460 {
  .footer {
    &__inner {
      &-info {
        flex-direction: column;
        gap: 1em;
        .logo {
          font-size: 14px;
        }
        &-list {
          gap: 5px;
          li {
            font-size: 14px;
            line-height: 1.3;
          }
        }
      }
      &-links {
        a {
          font-size: 14px;
        }
      }
      &-form {
        padding: 30px;

        &-group {
          label {
            font-size: 14px;
          }
        }
      }
      .input {
        font-size: 16px;
      }
      .button {
        font-size: 16px;
      }
    }
    &__copyright {
      font-size: 11px;
      margin-top: 70px;
    }
  }
}
@mixin footer-370 {
  .footer {
    &__copyright {
      font-size: 10px;
    }
  }
}
